/* reset css */
html, body, p, h1, h2, h3, h4, h5, h6,
ul, li, ol, dl, dd, dt,
form, fieldset, legend, img {
    margin  : 0;
    padding : 0;
}
section, article, nav, header, footer { display : block; }
address, caption, cite, code, dfn, th, var,i,em {
    font-style  : normal;
    font-weight : normal;
}
em, i { font-weight : normal; }
table         { border-collapse : collapse;  border-spacing: 0;}
fieldset, img { border : none; }
ul, ol        { list-style : none; }
select, input { vertical-align : middle; outline : none; }
h1, h2, h3, h4, h5, strong, em { font-weight : normal; }
select, input, textarea {
    font-size   : 100%;
    margin      : 0;
    padding     : 0;
    outline     : none;
    font-family : arial, sans-serif;
}
textarea {
    resize   : none;
    overflow : auto;
    word-break : break-all;
    word-wrap  : break-word;
}
body {
    color : #000;
    font  : 12px/20px arial, sans-serif;
}
a:link, a:visited {
  text-decoration: none;
}
a:link, a:visited {
  text-decoration: none;
}
a {
  color: inherit;
}
.clearfix {
    *zoom : 1;
}
.clearfix:after {
    content : ' ';
    display : block;
    clear   : both;
    height  : 0;
}

/* app css */
html,body{height:100%;}
.main{height:100%;position: relative;overflow:hidden;}
[jq-effect]{
    position: absolute;
    display:none;
}
body{
  font: 14px/20px 黑体,arial,sans-serif;
}
.car{
  top : 200px;
  right : 45%;
  height : 50px;
  font-size: 50px;
  background: red;
}
.car2{
  top:250px;right : 50%;
}
.car3{
  top:300px;right : 55%;
}
.car4{
  top:350px;right : 60%;
}

.nav{top:227px;left:55%;height: 24px;border-bottom: 10px solid #777;border-left: 10px solid transparent; width: 2000px;}
.nav .tit{cursor:pointer; height: 100%;margin-left: 30px; line-height: 24px;float:left; color:#aaa; padding: 0 10px;}
.nav .tit span{display:none;}
.nav .tit:hover{color: white;background:#777;}
.nav .tit:hover span{display:inline;}
.nav2{
  top:277px;left:50%;
  border-bottom-color: #23326b;
}
.nav2 .tit:hover{
  background:#23326b;
}
.nav3{
  top:327px;left:45%;
  border-bottom-color: #abb538;
}
.nav3 .tit:hover{
  background:#abb538;
}
.nav4{
  top:377px;left:40%;
  border-bottom-color: #f0202e;
}
.nav4 .tit:hover{
  background:#f0202e;
}

/* logo */
.logo-wrap{
  position: absolute;
  width: 460px;
  left: 30%;
}
.logo-c{
  background: #f3f3f3;
  padding : 10px;
}
.logo-c h2{
  font-weight: bold;
  font-size: 18px;
}
.logo-c p{
  margin: 10px 0 ;
}

/* menu */
.menus{
  position: fixed;
  left : 0;
  width: 40px;
  top: 50%;
  margin-top: -130px;
}
.menus .menu-item{
  position: relative;
  cursor: pointer;
  display: block;
  height : 60px;
  background: #777;
  left: -20px ;
  margin-bottom: 5px;
  -moz-transition: left 200ms ease  ;
  -webkit-transition: left 200ms ease  ;
  -o-transition: left 200ms ease  ;
  transition: left 200ms ease  ;
}
/*TODO animate*/
.menus .menu-item:hover{
  left : 0;
  -moz-transition: left 200ms ease  ;
  -webkit-transition: left 200ms ease  ;
  -o-transition: left 200ms ease  ;
  transition: left 200ms ease  ;
}
.menus a.selected{
  left : 0;
}
.menus .menu2{
  background: #23326b;
}
.menus .menu3{
  background: #abb538;
}
.menus .menu4{
  background: #f0202e;
}

/* tabs-h */
.tabs-h{
  background: #aaa;
  font-weight: bold;
  font-size: 16px;
  color : gray;
  height : 40px;
  line-height: 40px;
}
.tab-h{
  float: left;
  padding: 0 10px;
  border-right: 1px solid gray;
  cursor: pointer;
}
.tab-h-actived{
  color : black;
}
.tab-b{
  padding: 20px;
  display: none;
  border-radius: 0 0 2px 2px;
  background: white;
  position: relative;
}
.tab-b-actived{
  display: block;
}

/* mod constructor */
.act-mod{
  width: 70%;
  margin: 100px auto;
  border: 1px solid #999;
  background: #ccc;
  padding: 4px;
  border-radius: 3px;
  /*position: absolute;*/
  top: 100px;
}

/* mod content */
.act-list{
  color: #555;
  float: left;
}
.act-list li{
  line-height: 35px;
}
.act-list em{
  color: red;
  padding: 2px 5px;
  border: 1px solid #bbb;
  margin-right: 5px;
  border-radius: 4px;
}
.act-map{
  float: right;
  margin: 10px 0;
  width: 200px;
  height: 200px;
  border: 1px solid #aaa;
  background: #ccc;
  top: 30px;
  right: 20px;
}
.sign-btn{
  position: absolute;
  bottom: 20px;
}

/* photo-list */
#photo-list img{
  display: none;
}
/* share_btn begin*/
.share_btn{background:url(../images/share_button.png); width:45px; height:42px; zoom:1; position:fixed; bottom:31px; left:31px; z-index:111;cursor:pointer;}
.share_btn:hover{background:url(../images/share_button.png) 0 -42px;}
.share_btn:hover .share_li{display:block;}
.share_li{ width:142px; position:absolute; bottom: 42px;left:0; padding:0; display:none; color:#333333}

.share_li h3{ padding-left:10px;height:40px; line-height:40px; background:url(../images/share_bg.png); }
.share_li a { padding-left: 50px;line-height: 34px; height:35px; display:block; }
.share_li a:hover{background-color:#fff !important;}
.share_li a.a1{ background:url(../images/a1.png) no-repeat;}
.share_li a.a2{ background:url(../images/a2.png) no-repeat;}
.share_li a.a3{ background:url(../images/a3.png) no-repeat;}
.share_li a.a4{ background:url(../images/a4.png) no-repeat;}
.share_li a.a5{ background:url(../images/a5.png) no-repeat;}
.share_li a.a6{ background:url(../images/a6.png) no-repeat;}
.share_li a.a7{ background:url(../images/a7.png) no-repeat;}
.share_li a.a8{ background:url(../images/a8.png) no-repeat;}
.share_li a.a9{ background:url(../images/a9.png) no-repeat;}

.share2{ background-position:-45px 0; left:80px;}
.share2:hover{ background:url(../images/share_button.png) -45px -42px;}
.share_li a.a10{ background:url(../images/a10.png) no-repeat;}
.share_li a.a11{ background:url(../images/a11.png) no-repeat;}

.share3{background-position:-90px 0; left:130px;}
.en .share3 {background:url(../images/share_button_en.png) -90px 0;}
.share3:hover {background-position:-90px -42px; width: 105px;}